:root{

    --neutro-neutral-100: #FFFFFF;
    --neutro-neutral-200: #202D41;
    --neutro-neutral-270:#202D41B2; 
    --neutro-neutral-250: #202d4180;
    --neutro-neutral-220: #202d4133;
    --neutro-neutral-300: #10202D;
    --neutro-neutral-400: #2563EB;
    --neutro-neutral-500: #086BFF;
    --neutro-neutral-600: #C60202;
    --neutro-neutral-700: #00BD6F;
    --neutro-neutral-800: #0000;

}  