div {
  h2 {
    margin-bottom: 1rem;
  }
  input {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 0.5rem 1rem;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    
    &:hover {
      background: #218838;
    }
  }
}
