
.root-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--neutro-neutral-500);
  color: var(--neutral-neutral-100);
}

.business-card-container {
  width: 317px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--neutro-neutral-600);

  .img-perfil {
    width: 317px;
    height: 317px;
  }
}