
@if (!showForm && !creaTask && !sucessModal && lisTasks.length === 0) {
<p>You have no schedule yet. Click on + to create a new Task</p>
}

@if (lisTasks.length > 0) {
  <div *ngFor="let task of lisTasks; let i = index">
    <app-task-item *ngIf="verificarStatus(task) === 'pendente'" [task]="task"></app-task-item>
  </div>
}


@if (!showForm && !creaTask) {
    <app-button-create (showForm)="openTaskForm()"></app-button-create>
}

@if (showForm) {
    <app-task-forms (creaTask)="submitForm()"></app-task-forms>
}

@if (creaTask) {
    <app-sucess-task (sucessModal)="closeModal()"></app-sucess-task>
}




